footer.main-footer{
    background-color: #3a3a3a;
    color: #fff;
    padding-bottom: 20px;
}
footer.main-footer h3, footer.main-footer a{
    color: #fff;
    line-height: 24px;    
}

.bg-op{
    background:rgba(251, 99, 42, 0.9);
    color: #fff;
    padding: 10px;
}
.box{
    padding:5px 20px;        
    float:left;
    width:100%;
    margin: 8px -6px;
}

.box-border{    
    background-color: #f5f5f5;
    border-radius: 2px;
    border-left: 6px solid #6091BA;
    //box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
   // box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.evt-date{
    border-radius:50%;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 5px;
    margin: 5px 0px;;
}
.evt-header{
    color: #fff;
    font-size:  22px;
    //background-color: rgb(251, 99, 42);
    background-color: #333;
    padding: 5px;
}

.btndel{
    border: 1px solid transparent;
    background-color: inherit;
    color: black;
    font-size: inherit;
}

.btndel:hover{
   color: #ad2121;
}

.notification{
 border-left: 6px solid transparent;  
 background-color: inherit;
 padding-right: 30px;
}

.notification:hover{
 border-left: 6px solid #6091BA;   
 background-color: #f5f5f5;
}

/** initial setup **/
.nano {
  position : relative;  
  width: 320px;
  height   : 300px;
  overflow : hidden;
}
.nano .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .nano-content > ul > li > a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.nano .nano-content:focus {
  outline: thin dotted;
}
.nano .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.10);
  position   : absolute;
  width      : 7px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : visible; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  display:block;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.25);
  position              : relative;
  margin                : 0 1px;
}
.nano > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;  /* left arrow slant */
    border-top: 5px solid transparent; /* right arrow slant */
    border-left: 5px solid #2f2f2f; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
}

.jumbotron h1,
  .jumbotron .h1 {
    font-family: "gandhi serif", georgia, serif;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    //text-shadow: 1px 1px 0.5px #000;
  }
  
    @media(max-width: 768px) {
        .jumbotron h1{
            font-size: 2em;
        }
    }
  
  header.news{
      
  }
  
  table tr:first-child th {
    font-weight: bold;
}



/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

    .affix-content .container .page-header{
    margin-top: 0;
  }

  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;       
    max-width: 110px;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;       
  } 
  .affix-content{
    background-color:white;     
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    text-align: center;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}
.events .event-item {
 // border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  padding-left: 55px;
  position: relative;
}

.events .event-item p{
    margin-bottom: 5px;
}

.events .event-item .fa {
  margin-right: 5px;
  font-size: 14px;
  min-width: 16px;
  color: #666;
}

.events .event-content h3{
   margin-top: 2px;
}

.events .event-content p {
  color: #666;
}

.date-label {
  background: #f5f5f5;
  display: inline-block;
  padding:0px;
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  position:absolute;
  left:0px;
}
.date-label .month {
  background: #6091ba;
  color: #fff;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}
.date-label .date-number {
  clear: left;
  display: block;
  padding-top: 5px;
  font-size: 15px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 500;
}

.l-line{
    border-left: 1px solid #eee;   
}

.b-line, .plugin{
    border-bottom: 1px solid #eee;
}

.t-line{
    border-top: 1px solid #eee;
}
.r-line{
    border-right: 1px solid #eee;
}

.plugin{
    padding-left:15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.h-inner{
    color: #2F506C; 
}

input.simple[disabled], input.simple[readonly]{
    background-color: inherit;
    border:none;
}

.collapse-full{
    width:100%;    
position:absolute;
    left:0px;
    z-index: 100;
}
.input-link {
    position: absolute;
    right: 6px;
    top: 7px;
    width: 18px;
    height: 18px;
    line-height: 22px;
    text-align: center;
}
.input-link .input-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #000;
    text-decoration: none;
    text-indent: -999em;
    overflow: hidden;
    position: relative;
    outline: 0;
    border-radius: 14px;
    border: 1px solid #ccc;
    background: #fff;
}
.input-link .input-button:hover{
     border: 1px solid #2A6496;
}
.input-link .input-button:after {
    content:'?';
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 17px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    text-indent: 0;
}
.botton-in{
    position: relative;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}