<% 	
if(event !== null) {
event.date_start = new Date(parseInt(event.start));
event.date_end = new Date(parseInt(event.end)); %>
<div id = "event-meta" class  = "pull-right">
    <span>Starts on <%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %>, at <%= event.date_start.getHours() %>:<%= event.date_start.getMinutes() %> <i class = "icon-time"></i></span><br />
    <span>Ends on <%= event.date_end.getDate() %> <%= calendar.locale["m" + event.date_end.getMonth()] %> <%= event.date_end.getFullYear() %> at <%= event.date_end.getHours() %>:<%= event.date_end.getMinutes() %> <i class = "icon-time"></i></span><br />
</div>

<div style = "margin: 10px 0">
    <a href = "<%= event.url %>" class = "btn btn-primary"><i class = "icon-calendar"></i> More info</a>
</div>
<% } else{ %> 
<form method="post" action="eventos" id="add_event">
    <div class="form-group">
        <label for="evt_title">Título del evento</label>
        <input type="text" id="evt_title" name="evt_title" placeholder="Título del evento" class="form-control">
    </div>
    <div class="form-group">
        <label for="evt_desc">Descripción del evento</label>
        <textarea id="evt_desc" name="evt_desc" placeholder="Descripción del evento" class="form-control"></textarea>
    </div>
    <div class="form-group col-md-6">
        <label for="date_ini">Fecha de inicio</label>
        <input type="text" id="date_ini" name="date_ini" class="form-control" value="<%= calendar %>">
    </div>
    <div class="form-group col-md-6">
        <label for="date_end">Fecha de fin</label>
        <input type="text" id="date_end" name="date_end" class="form-control" value="<%= calendar %>">
    </div>
</form> 

<%  } %>
